
app-paginator { 
  margin-top: 2rem;
  float: right;
}

.delete-ja {
  text-align: center;
}

.delete-ja img {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

table>tbody>tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 255, 0.10);
}
