﻿@using MuranoWeb.Data.Entity;
@using MuranoWeb.Data.Extensions
<!doctype html>
<html lang="ru" xmlns:og="http://opg.me/ns#">
<head>
    @{ await Html.RenderPartialAsync("CommonHead");}
</head>

<body>

    <header class="header container" data-js="menu fix">
        <a class="header__logo" asp-controller="Home" asp-action="Index">Murano</a>

        <nav class="header__menu">
            <div class="header__menu-item">
                <a class="header__menu-link" asp-controller="Home" asp-action="Index" asp-fragment="about">О компании</a>
            </div>

            @foreach (var location in Enum.GetValues(typeof(Location)).Cast<Location>())
            {
                <div class="header__menu-item">
                    <a class="header__menu-link" asp-controller="Home" asp-action="Office" asp-route-location="@location.ToString().ToLower()">@(Html.DisplayFor(x=>location))</a>
                </div>
            }

        </nav>

        <a class="header__toggle">
            <span class="header__toggle-line"></span>
            <span class="header__toggle-line"></span>
            <span class="header__toggle-line"></span>
        </a>
    </header>

    @RenderBody()

    @{ await Html.RenderPartialAsync("CommonFooter");}
<script async defer src="/assets/app.js"></script>
<!--
<script async defer type="text/javascript" src="https://vk.com/js/api/share.js?95" charset="windows-1251"></script>
-->
</body>
</html>