﻿@using MuranoWeb.Data.Entity;
@using MuranoWeb.Data.Extensions
@{
    ViewBag.NoYM = true;
}
<!doctype html >
<html lang="ru"  xmlns:og="http://opg.me/ns#">
<head>
    @{ await Html.RenderPartialAsync("CommonHead");}
</head>

<body>
    @{ await Html.RenderPartialAsync("CommonHeaderFixed");}


    @RenderBody()

    @{ await Html.RenderPartialAsync("CommonFooter");}

    <script async defer src="/assets/app.js"></script>
</body>
</html>