﻿@using Microsoft.AspNetCore.Http

<footer class="footer container">
    <h4 class="footer__title">Murano Software</h4>

    <nav class="footer__links">
        <a class="footer__links-item footer__links-item--hh" target="_blank" href="https://hh.ru/employer/6301">HeadHunter</a>
        @if (!(ViewBag.IsUkraine == true)) {
            <a class="footer__links-item footer__links-item--vk" target="_blank" href="https://vk.com/muranosoft">ВКонтакте</a>
        }
        <a class="footer__links-item footer__links-item--fb" target="_blank" href="https://www.facebook.com/Murano-Software-130574652920">Facebook</a>
        <a class="footer__links-item footer__links-item--telegram" target="_blank" href="https://t.me/muranosoftware">Telegram</a>
        <a class="footer__links-item footer__links-item--instagram" target="_blank" href="@Html.Raw(@ViewBag.OverrideInstagram ?? "https://www.instagram.com/murano.live/")">Instagram</a>
        <a class="footer__links-item footer__links-item--linkedin" target="_blank" href="https://www.linkedin.com/company/muranosoft-jobs">Linkedin</a>
        @if (ViewBag.IsUkraine == true) {
            <a class="footer__links-item footer__links-item--dou" target="_blank" href="https://jobs.dou.ua/companies/murano-software/">DOU</a>
        }
    </nav>

    <div class="footer__text">
        <p class="text text--dim">
            Copyright © 2003 — @DateTime.Today.Year by Murano Software, Inc. All rights reserved. <br>
            All Registered Trade Marks used on this Website, whether marked as Trade Marks or not marked, are declared to belong to their respective owner(s).
            All company names, service marks, trade names, trade dress, product names and logos appearing on the site are the property of their respective owners.
        </p>
    </div>
</footer>
