﻿@using MuranoWeb.Data.Entity;
@using MuranoWeb.Data.Extensions

<header class="header container header--fixed fixed" data-js="menu fix">
    <a class="header__logo" asp-controller="Home" asp-action="Index">Murano</a>

    <nav class="header__menu">
        <div class="header__menu-item">
            <a class="header__menu-link" asp-controller="Home" asp-action="Index">О компании</a>
        </div>

        @foreach (var location in Enum.GetValues(typeof(Location)).Cast<Location>())
        {
            <div class="header__menu-item">
                <a class="header__menu-link" asp-controller="Home" asp-action="Office" asp-route-location="@location.ToString().ToLower()">@(Html.DisplayFor(x=>location))</a>
            </div>
        }

    </nav>

    <a class="header__toggle">
        <span class="header__toggle-line"></span>
        <span class="header__toggle-line"></span>
        <span class="header__toggle-line"></span>
    </a>
</header>