﻿<article class="section__portals">
    <h2 class="text text--tagline">Мы на рекрутинговых порталах</h2>

    <a class="section__portals-link section__portals-link--hh" target="_blank" href="https://hh.ru/employer/6301">HeadHunter</a>
    @if (ViewBag.ShowJinni == (bool?)true)
    {
        <a class="section__portals-link section__portals-link--djinni" target="_blank" href="https://djinni.co/jobs/?keywords=Murano%20Software&from=r_jobs">Djinni</a>
    }
</article>
