<app-location-selector
  (locationSelect)="locationSelect($event)"
  [firstAsDefault]="true"
  [showAll]="false">
</app-location-selector>
<app-paginator
  *ngIf="inArchive"
  (openPage)="openPage($event)"
  [pagesCount]="pagesCount"
  [currentPage]="currentPage">
</app-paginator>

<a class="btn btn-primary right" routerLink="/vacancies/new" *ngIf="!inArchive">Новая вакансия</a>

<table class="table" [ngClass]="{'table': true, 'vacancies-list': true, 'sorting-process': sortableItem}" *ngIf="location" (mouseup)="stopSorting()">
  <thead>
    <tr>
      <th class="id--column">id</th>
      <th class="date-column" *ngIf="inArchive">Archived</th>
      <th>Title&nbsp; <input #pattern *ngIf="inArchive" type="text" placeholder="Найти" (keyup)="searchValueChanged(pattern.value)" (keyup.enter)="search(pattern.value)" (blur)="search(pattern.value)" /></th>
      <th>Location</th>
      <th></th>
      <th></th>
      <th *ngIf="!inArchive"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vacancy of vacancies"  (mouseover)="swapSortedItems(vacancy, $event)">
      <td>{{vacancy.ext}} </td>
      <td *ngIf="inArchive">{{formatDate(vacancy.archivedOn)}}</td>
      <td><a [routerLink]="['/vacancies/', vacancy.id]" [ngClass]="{'sorting': vacancy.IsSorting}">{{vacancy.title}} </a></td>
      <td>{{vacancy.location}}</td>
      <td><a [routerLink]="['/job-applications']" [queryParams]="{vacancy: vacancy.id}">Applications</a></td>
      <td><a (click)="showLog(vacancy, modal, $event); false" href="#">Log</a></td>
      <td align="right" *ngIf="!inArchive">
        <div class="sorting-area" (mousedown)="startSorting(vacancy)">
          <i class="glyphicon glyphicon-resize-vertical"></i> Sort
        </div>
      </td>
    </tr>
  </tbody>
</table>
<app-modal #modal (close)="closeLogs()">
    <div class="app-modal-header">
      Logs
    </div>
    <div class="app-modal-body">
      <div class="scrollable-content">
      <table class="table logs-list">
        <thead>
          <tr>
            <th>User</th>
            <th>Action</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let log of logs">
            <td>{{log.user}}</td>
            <td>{{log.action}}</td>
            <td>{{log.date | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
    <div class="app-modal-footer">
      <button type="button" class="btn btn-default" (click)="modal.hide()">Close</button>
    </div>
  </app-modal>
