app-paginator { 
  margin-top: 2rem;
  float: right;
}

.vacancies-list th {
  vertical-align: middle;
}

table>tbody>tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 255, 0.10);
}
.id--column {
  width:5rem;
}
.date--column {
  width: 10rem;
}
.sorting-area {
  display: inline-block;
  color: grey;
  text-align: center;
  padding: 0 2em;
  border: dashed .75px silver;
  *background: #fefefe;
}

.sorting-area:hover {
  cursor: move;
}

.vacancies-list.sorting-process {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: move;
}

.sorting {
  border-style: dashed;
  border-width: 1px;
  border-color: black;
}

a.right {
  float: right;
  margin: 8px;
}
.scrollable-content {
  height: 300px;
  overflow: scroll;
}

th > input {
font-weight: normal;
    border-width: 1px;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 1rem;
    border-color: lightgray;
    outline: none;
    font-size:12px;
}
::placeholder {
  font-size:12px;
}
