.vacancy-description {
  height: 10em;
}

.vacancy-requirements {
  height: 10em;
}

.vacancy-addreq {
  height: 10em;
}

.buttons--row button {
  margin-right: 1rem;
}

.buttons--row {
  margin-bottom: 2rem;
}



.salary-box select {
  padding: 3px;
  
}

.salary-box input {
  margin-left: 1rem;
  margin-right: 1rem;
}