<div><a (click)="back(); false" href="#">Back</a></div>
<div class="container" *ngIf="vacancy">
    <h1>{{vacancy.id ? "Редактировать вакансию": "Добавить вакансию"}}{{vacancy.inArchive ? " (В архиве)" : ""}}</h1>
    <form #vacancyForm="ngForm">
      <div class="form-group">
        <label for="VacancyTitle">Название</label>
        <input id="VacancyTitle" type="text" class="form-control" [(ngModel)]="vacancy.title" name="title" required />
      </div>
      <div class="form-group">
        <label for="VacancyLocationEnum">Город</label>
        <select id="VacancyLocationEnum" class="form-control" [(ngModel)]="vacancy.locationEnum" name="locationEnum" required>
          <option *ngFor="let loc of vacancy.availableLocations" [ngValue]="loc.code" [selected]="vacancy.locationEnum === loc.code">{{loc.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="VacancyIconEnum">Изображение</label>
        <select id="VacancyIconEnum" class="form-control" [(ngModel)]="vacancy.iconId" name="iconId" required>
          <option *ngFor="let icon of vacancy.availableIcons" [ngValue]="icon.id" [selected]="vacancy.iconId === icon.id">{{icon.title}}</option>
        </select>
      </div>
      <div class="form-group salary-box">
        <label for="salaryFrom">Зарплата от:</label>
        <input type="number" [(ngModel)]="vacancy.salaryFrom" name="salaryFrom" />
        <label for="salaryTo">до:</label>
        <input type="number" [(ngModel)]="vacancy.salaryTo" name="salaryTo" />
        <select id="CurrencyEnum" [(ngModel)]="vacancy.currency" name="currency">
          <option *ngFor="let curr of vacancy.availableCurrencies" [ngValue]="curr" [selected]="vacancy.currency === curr">{{curr}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="VacancySummary">Краткое описание (для списка вакансий)</label>
        <app-tinymce [(ngModel)]="vacancy.summary" name="summary" class="app-tinymce" required></app-tinymce>
        <!--
    <textarea id="VacancySummary" class="form-control" [(ngModel)]="vacancy.summary" name="summary" required></textarea>
    -->
      </div>
      <div class="form-group">
        <label for="VacancyDescription">Детальное описание вакансии</label>
        <!--
    <textarea id="VacancyDescription" class="form-control vacancy-description editable" [(ngModel)]="vacancy.description" name="description" required></textarea>
    -->
        <app-tinymce [(ngModel)]="vacancy.description" name="description" class="app-tinymce" required></app-tinymce>
      </div>
      <div class="form-group">
        <label for="VacancyRequirements">Требования и условия:</label>
        <!--
    <textarea id="VacancyRequirements" class="form-control vacancy-requirements" [(ngModel)]="vacancy.requirements" name="requirements" required></textarea>
        -->
        <app-tinymce [(ngModel)]="vacancy.requirements" name="requirements" class="app-tinymce" required></app-tinymce>
      </div>

      <div class="buttons--row">
        <button class="btn btn-success" [disabled]="vacancyForm.form.invalid" (click)="save(vacancyForm)">Сохранить</button>
        <button *ngIf="vacancy.id" class="btn btn-primary" [disabled]="vacancyForm.form.invalid" (click)="saveAsNew(vacancyForm)">Сохранить как новую</button>
        <button *ngIf="!vacancy.inArchive && vacancy.id" class="btn" (click)="toArchive()">В архив</button>
        <button *ngIf="vacancy.inArchive" class="btn" (click)="openVacancy()">Опубликовать</button>
      </div>
    </form>
</div>

