﻿@{ Layout = "_Layout"; }
@using System.Linq
@using MuranoWeb.Models.Home
@using System.Collections.Generic
@using System.Globalization
@using System.Linq.Expressions;

@model OfficeModel
<section class="section">
    <div class="section__office container" style="background-image: url('@Model.OfficeInfo.OfficeImage')">

        <h1 class="title title--promo">@ViewBag.Title</h1>

        <div class="section__office-buttons">
            <a class="button" href="#vacancy-list" data-anchor=".section__vacancy">Вакансии</a>
            <a class="button button--outline" href="#about-office" data-anchor=".section__terms">Об офисе</a>
        </div>
    </div>
</section>
@if (Model.Quote != null)
{
    <div class="section">
        <div class="section__quote container">

            <div class="section__quote-inner">
                <span class="icon icon--quote"></span>

                <p class="text">
                    @Model.Quote.Text
                </p>

                <p class="text text--sign">
                    @Model.Quote.Author<br>
                </p>
            </div>
        </div>
    </div>
}
<section id="vacancy" class="section section--column container">
    <div class="section__vacancy">

        <h2 class="title">Вакансии</h2>

        @if (!Model.Vacancies.Any())
        {
            <div class="text text--tagline">На данный момент нет открытых вакансий.</div>
        }

        <div class="section__vacancy-list" data-js="vacancy">

            @foreach (var vacancyItem in Model.Vacancies)
            {
                <div class="section__vacancy-item">
                    <h3 class="text text--tagline">@vacancyItem.Title</h3>
                    <img class="section__vacancy-icon" src="@vacancyItem.IconUrl" alt="" />
                    <div class="section__vacancy-short">
                        <div>
                            @Html.Raw(vacancyItem.Summary)
                        </div>
                        <div>
                            <a class="section__vacancy-link" href="#more">Подробнее</a>
                        </div>
                    </div>

                    <div class="section__vacancy-more">
                        @{await Html.RenderPartialAsync("VacancySharingPartialView", vacancyItem.SharingInfo);}
                        <button class="button button--close icon--close"></button>
                        <div class="section__vacancy-column">
                            @Html.Raw(vacancyItem.Summary)
                            @Html.Raw(vacancyItem.Description)
                        </div>

                        <div class="section__vacancy-column">
                            @Html.Raw(vacancyItem.Requirements)
                        </div>
                        <button class="button button--more" data-url="@Url.Action("PostApplication", "Home", new
						                                              {
							                                              location = Model.Location.ToString().ToLower(),
							                                              vacancyId = vacancyItem.VacancyId
						                                              })">
                            Откликнуться
                        </button>

                    </div>
                </div>
            }

            <svg class="hidden">
                <defs>
                    <symbol id="share-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-share"><path d="M4 12v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8"></path><polyline points="16 6 12 2 8 6"></polyline><line x1="12" y1="2" x2="12" y2="15"></line></symbol>
                </defs>
            </svg>

        </div>
    </div>

    @{ await Html.RenderPartialAsync("RecruitmentLinks");}
</section>

<div class="section">
    <article class="section__job-application container">
        <h2 class="text text--tagline">
            Не нашли подходящую вакансию? <br>
            Расскажите нам о своем опыте, и мы подумаем, что вам предложить!
        </h2>

        <a data-js="jobApplication"
           data-url="@Url.Action("PostApplication", "Home", new {
               location = Model.Location.ToString().ToLower()
           })"
           class="button"
           href="#">Отправить резюме</a>

    </article>
</div>

@RenderBody()

<section class="section section--column">
    <div class="section__gallery">
        <h2 class="title container">Наша жизнь</h2>

        <div class="section__gallery-list" data-js="gallery">
            @foreach (var link in ViewBag.GalleryLinksList)
            {
                <a class="section__gallery-item" href="@link.FullImage" style="background-image: url('@link.PreviewImage')"></a>
            }
        </div>
    </div>
</section>

<section class="section">
    <div class="section__contacts container">
        <h2 class="section__contacts-title title">Контакты офиса в @(Html.DisplayFor(m=>m.Location))е</h2>

        <div class="section__contacts-info">
            <div class="section__contacts-item">
                <span class="icon icon--pin"></span>
                @Html.Raw(ViewBag.Contacts.Address)
            </div>

            @if (!string.IsNullOrEmpty(ViewBag.Contacts.PhoneNumber))
            {
                <div class="section__contacts-item">
                    <span class="icon icon--phone"></span>
                    @Html.Raw(ViewBag.Contacts.PhoneNumber)
                </div>
            }
            <div class="section__contacts-item">
                <span class="icon icon--envelope"></span>
                <a href=@("mailto:"+@Html.Raw(ViewBag.Contacts.Email))>@Html.Raw(ViewBag.Contacts.Email)</a>
            </div>
        </div>
        @if (!string.IsNullOrEmpty(ViewBag.Contacts.Route))
        {
            <div class="section__contacts-route">
                <p class="text text--subtitle">Как добраться:</p>
                <p class="text">
                    @Html.Raw(ViewBag.Contacts.Route)
                </p>
            </div>
        }
    </div>

    <div class="section__map">
        <div class="section__map-iframe" data-js="address"></div>
    </div>
</section>

@{ await Html.RenderPartialAsync("ApplyPopoverPartialView", @Model.Location);}

<script>
    window.officeMapCoordinates = {
        lat: @Model.OfficeInfo.Lat.ToString("F8", CultureInfo.InvariantCulture),
        lng: @Model.OfficeInfo.Long.ToString("F8", CultureInfo.InvariantCulture)
    };
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcQSETjEhbAkeNX0_SizOVW9YtG0oa3Mc"></script>
<script async src="/content/sharejs"></script>
