﻿@using System.Dynamic
@model MuranoWeb.Models.Home.OfficeModel
@{
    Layout = "Offices/_OfficeLayout";
    ViewBag.OfficeLocation = Model.OfficeInfo.City;
    ViewBag.Title = "Офис в " + ViewBag.OfficeLocation + "е";
    /*
    ViewBag.MapCoordinates = new ExpandoObject();
    ViewBag.MapCoordinates.Latitude = "41.318847";
    ViewBag.MapCoordinates.Longitude = "69.296246";
    */
    ViewBag.Contacts = new ExpandoObject();
    ViewBag.Contacts.Address = Model.OfficeInfo.Address;
    ViewBag.Contacts.PhoneNumber = Model.OfficeInfo.Phone;
    ViewBag.Contacts.Email = Model.OfficeInfo.Email;
    ViewBag.Contacts.Route = "";
    ViewBag.OfficeCoverImageUrl = Model.OfficeInfo.OfficeImage;
    ViewBag.Description = "Murano Software | Офис в Ташкенте | Работа в Ташкенте | Работа для программистов";
    ViewBag.OgImageUrl = ViewBag.OfficeCoverImageUrl;
    ViewBag.OgImageWidth = Model.OfficeInfo.OfficeImageWidth;
}

<section class="section section--column container">
    <article class="section__terms">

        <h2 class="title">Условия работы</h2>

        <div class="section__terms-list">
            <div class="section__terms-item">
                <h3 class="text text--tagline">
                    <span class="icon icon--computer"></span>
                    Комфортный офис
                </h3>
                <p class="text">
                    Наш офис находится в центре города, в нём мы организовали пространство, в котором всё способствует комфортной и продуктивной работе.
                </p>
            </div>

            <div class="section__terms-item">
                <h3 class="text text--tagline">
                    <span class="icon icon--food"></span>
                    Питание
                </h3>
                <p class="text">
                    С питанием у нас всё просто - мы выбираем, что нам сегодня больше по душе, а компания компенсирует стоимость обеда.
                </p>
            </div>

            <div class="section__terms-item">
                <h3 class="text text--tagline">
                    <span class="icon icon--tennis"></span>
                    Занятия спортом
                </h3>
                <p class="text">
                    В здоровом теле - здоровый дух! Мы можем приобретать абонементы в один из лучших фитнес центров города с частичной компенсацией от компании.
                </p>
            </div>

            <div class="section__terms-item">
                <h3 class="text text--tagline">
                    <span class="icon icon--friends"></span>
                    Наша жизнь
                </h3>
                <p class="text">
                    Кто хорошо работает, тот хорошо отдыхает – это точно про нас!
                    У нас насыщенная внутренняя жизнь. Наши праздники – это всегда яркие мероприятия, о которых вспоминают спустя годы.
                </p>
            </div>
        </div>
    </article>
</section>