.user {
    display: block;
    float: right;
    border: 1px solid transparent;
    padding: 10px 0 10px 15px;
    font-size: smaller;
}

.user > a > img {
    width: 32px;
    height: 32px;
    padding-left: 16px;
}