<div class="user">
  {{this.currentUser}}
  <a href="/admin/logout"><img src="/images/badges/logout.svg" /></a>
</div>

<ul class="nav nav-tabs">
  <li routerLinkActive="active"><a routerLink="/vacancies/opened">Vacancies</a></li>
  <li routerLinkActive="active"><a routerLink="/vacancies/archive">In Archive</a></li>
  <li routerLinkActive="active"><a routerLink="/job-applications">Job Applications</a></li>
  <li routerLinkActive="active"><a routerLink="/photos">Photos</a></li>
  <li routerLinkActive="active"><a routerLink="/quotes">Quotes</a></li>
  <li routerLinkActive="active"><a routerLink="/icons">Icons</a></li>
  <li routerLinkActive="active"><a routerLink="/editoffice">Office info</a></li>
</ul>
