a > img {
    height:10px;
    vertical-align: baseline;
  }
  
span {
    color: #005695;
    font-weight: 600;
    margin-left: 8px;
    margin-right: 8px;
  }
  
a {
    cursor: pointer;
    width: 32px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .last, .prev {
    padding-left:8px;
  }
  