<div class="navigator">
    <a class="first" *ngIf="this.currentPage > 1" (click)="this.move(1)">
      <img src="/images/chevrons/double_chevron_left.svg" />
    </a>
    <a class="prev" *ngIf="this.currentPage > 1" (click)="this.move(this.currentPage-1)">
      <img src="/images/chevrons/chevron_left.svg" />
    </a>
    <span>Page {{this.currentPage}} of {{this.pagesCount}}</span>
    <a class="next" *ngIf="this.currentPage < this.pagesCount" (click)="this.move(this.currentPage+1)">
      <img src="/images/chevrons/chevron_right.svg" />
    </a>
    <a class="last" *ngIf="this.currentPage < this.pagesCount" (click)="this.move(this.pagesCount)">
      <img src="/images/chevrons/double_chevron_right.svg" />
    </a>
  </div>
