.msg_text {
    margin-left: 2rem;
    animation: fadeout 4s;
}

.info {
    color: green;
}
.error {
    color: red;
    font-weight: 700;
}

@keyframes fadeout {
    from { opacity: 0; }
    1% { opacity: 1; }
    50% { opacity: .8; }
    60% { opacity: .6; }
    70% { opacity: .4; }
    to { opacity: 0; }
}