<app-location-selector
  (locationSelect)="locationSelect($event)"
  [firstAsDefault]="true"
  [showAll]="false">
</app-location-selector>

<div class="container" *ngIf="officeInfo">
    <h1>Редактирование информации об офисе</h1>
    <form #officeInfoForm="ngForm">
      <div class="form-group">
        <label for="OfficeCountry">Страна</label>
        <input id="OfficeCountry" type="text" class="form-control" [(ngModel)]="officeInfo.country" name="country" required />
      </div>
      <div class="form-group">
        <label for="OfficeRegion">Регион</label>
        <input id="OfficeRegion" type="text" class="form-control" [(ngModel)]="officeInfo.region" name="region" required>
      </div>
      <div class="form-group">
        <label for="OfficeCity">Город</label>
        <input id="OfficeCity" type="text" class="form-control" [(ngModel)]="officeInfo.city" name="city" required>
      </div>
      <div class="form-group">
        <label for="OfficeAddress">Адрес</label>
        <input id="OfficeAddress" type="text" class="form-control" [(ngModel)]="officeInfo.address" name="address" required>
      </div>
      <div class="form-group">
        <label for="OfficeZip">Индекс</label>
        <input id="OfficeZip" type="text" class="form-control" [(ngModel)]="officeInfo.zip" name="zip" required>
      </div>
      <div class="form-group">
        <label for="OfficePhone">Телефон</label>
        <input id="OfficePhone" type="text" class="form-control" [(ngModel)]="officeInfo.phone" name="phone">
      </div>
      <div class="form-group">
        <label for="OfficeEmail">Email</label>
        <input id="OfficeEmail" type="text" class="form-control" [(ngModel)]="officeInfo.email" name="email" required>
      </div>
      <div class="form-group">
        <label for="OfficeLat">Широта</label>
        <input id="OfficeLat" type="number" class="form-control" [(ngModel)]="officeInfo.lat" name="lat" required>
      </div>
      <div class="form-group">
        <label for="OfficeLong">Долгота</label>
        <input id="OfficeLong" type="number" class="form-control" [(ngModel)]="officeInfo.long" name="long" required>
      </div>
      
      <div class="buttons--row">
        <button class="btn btn-success" [disabled]="officeInfoForm.form.invalid" (click)="save(officeInfoForm)">Сохранить</button>
        <span id="msg_text" [hidden]="!msgShown" [ngClass]="{'info': isMsgInfo, 'error': !isMsgInfo}" >{{message}}</span>
      </div>
    </form>
</div>

