.file-chooser {
  display: inline-block;
  overflow: hidden;
  position: relative;
  color: grey;
  text-align: center;
  padding: 1.5em .5em;
  border: dashed 1px silver;
  background: #fefefe;
}
.file-chooser.file-chooser-multiple {
  display: block;
  padding: 4em .5em;
}
.file-chooser-file {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
