﻿@model MuranoWeb.Data.Entity.Location
<div class="popover" data-js="popover">

    <form class="popover__box" data-js="form" action="/" method="POST" asp-antiforgery="true" novalidate>

        <a class="button button--close icon--close"></a>

        <p class="popover__box-status popover__box-status--process">
            <span class="preloader"></span>
            Заявка отправляется
        </p>

        <p class="popover__box-status popover__box-status--success">
            <span class="icon icon--check"></span>
            Спасибо за заявку
        </p>

        <p class="popover__box-status popover__box-status--fail">
            <span class="icon icon--close"></span>
            Извините, произошла ошибка
        </p>

        <p class="popover__box-title">Откликнуться на вакансию</p>

        <div class="popover__box-item input">
            <input class="input__field input__field--text" type="text" name="FirstName" required>

            <label class="input__label">Имя</label>
            <span class="input__bar"></span>

            <span class="input__error">Поле обязательно для заполнения</span>
        </div>

        <div class="popover__box-item input">
            <input class="input__field input__field--text" type="text" name="LastName" required>

            <label class="input__label">Фамилия</label>
            <span class="input__bar"></span>

            <span class="input__error">Поле обязательно для заполнения</span>
        </div>

        <div class="popover__box-item input">
            <input class="input__field input__field--email" type="text" name="Email" required>

            <label class="input__label">E-mail</label>
            <span class="input__bar"></span>

            <span class="input__error">Пожалуйста, введите корректный адрес</span>
        </div>

        <div class="popover__box-item input">
            <textarea class="input__field input__field--message input__field--ta" name="Comment" required></textarea>

            <label class="input__label">Комментарий</label>
            <span class="input__bar"></span>
        </div>

        <div class="popover__box-item upload" data-js="upload">
            <label class="upload__label">Резюме</label>

            <div class="upload__drop">
                <input class="upload__drop-file" type="file" data-max-size="5242880" name="CV" />

                <div class="upload__drop-area">
                    <span class="upload__drop-text">Перетащите сюда или выберите файл не&nbsp;больше&nbsp;5&nbsp;Мб</span>
                    <span class="upload__drop-button upload__drop-button--insert"></span>
                    <span class="upload__drop-button upload__drop-button--cancel"></span>
                </div>
            </div>

            <span class="upload__error">Максимальный размер файла - 5&nbsp;Мб</span>
        </div>

        <div class="popover__box-item">
            <input class="checkbox" id="personal-policy" type="checkbox" value="check" required>
            <label class="label" for="personal-policy">Нажимая на кнопку &laquo;Отправить&raquo;, я даю <a href="/pda/@Model.ToString().ToLower()" target="_blank">согласие на обработку персональных данных</a></label>
        </div>
        <div class="popover__box-item">
            <button class="button" id="submit-button" type="submit" disabled>Отправить</button>
        </div>
    </form>
</div>