﻿@{
    Layout = "_LayoutFixed";
    ViewBag.Title = "Вакансия в архиве";
    ViewBag.Description = "Вакансия в архиве и более неактуальна";
}
<style>


</style>
<section class="section section__fixed  section__fixed_small">
    <section class="section section--column container">
        <div class="section--terms">
            <h2 class="title">Вакансия в архиве</h2>

            <p>Вакансия более не актуальна и перенесена в архив</p>

            <p class="centered">
                <a href="/vacancies" class="button av-btn">Актуальные вакансии</a>
            </p>
        </div>

    </section>
</section>