﻿@{
    Layout = "_LayoutFixed";
    ViewBag.Title = "Ошибка";
    ViewBag.Description = "Произошла ошибка";
}
<section class="section section__fixed section__fixed_small">
    <section class="section section--column container">
        <div class="section--terms">
            <h2 class="title">Oops!</h2>

            <p>Страница, которую вы ищете, не существует или была удалена</p>

            <p class="centered">
                <a href="/" class="button av-btn">На главную</a>
            </p>
        </div>

    </section>
</section>