﻿@{
    Layout = "_LayoutFixed";
    ViewBag.Title = "Murano Software";
    ViewBag.Description = "Соглашение об обработке персональных данных, Украина";
}
<section class="section section__fixed">
    <section class="section section--column container">
        <div class="section--terms">
            <h2 class="title">Соглашение об обработке персональных данных</h2>

            <p>Данное соглашение об обработке персональных данных разработано в соответствии с законодательством Украины.</p>

            <p>
                Настоящим, я (далее – Субъект персональных данных), отправляя персональные данные посредством сайта http://www.muranosoft.ru/ (далее – Сайт)
                в соответствии с требованиями статьи 11 п.1 Закона Украины "О защите персональных данных" №2297-VI от 01.06.2010, ВВР, 2010 №34 
                с изменениями, внесенными законами 
                № 4452-VI от 23.02.2012 , ВВР, 2012, № 50, ст. 564;
                № 5491-VI от 20.11.2012, ВВР, 2013, №51, ст.715; 
                № 245-VII от 16.05.2013, ВВР, 2014, № 12, ст.178; 
                № 383-VII от 03.07.2013, ВВР, 2014, № 14, ст.252; 
                № 1170-VII от 27.03.2014, ВВР, 2014, № 22, ст.816; 
                № 1262-VII от 13.05.2014, ВВР, 2014, № 27, ст.914; 
                № 316-VIII от 09.04.2015, ВВР, 2015, № 26, ст.218; 
                № 675-VIII от 03.09.2015, ВВР, 2015, № 45, ст.410;
                № 1774-VIII от 06.12.2016, ВВР, 2017, № 2, ст.25;
                № 2168-VIII от 19.10.2017, ВВР, 2018, № 5, ст.31;
                № 324-IX от 03.12.2019, ВВР, 2020, № 11, ст.63;
                № 524-IX от 04.03.2020, ВВР, 2020, № 38, ст.279,
                выражаю свое согласие на обработку своих персональных данных оператору обработки персональных данных - ООО «Мурано Ру» ОГРН 1137847114129,
                Адрес местонахождения: Российская Федерация, 194044, г.Санкт-Петербург, Большой Сампсониевский пр-т, 32 (далее – Оператор).

                Под обработкой персональных данных подразумевается осуществление любых действий (операций) или совокупности действий (операций) с персональными данными
                в соответствии с законодательством Российской Федерации, для целей рассмотрения Оператором возможности дальнейшего сотрудничества,
                в том числе трудоустройства, с Субъектом персональных данных.
            </p>

            <p>Субъект персональных данных:</p>
            <ul>
                <li>подтверждает, что все указанные им данные принадлежат лично ему</li>
                <li>подтверждает и признает, что им внимательно в полном объеме прочитано Соглашение и условия обработки его персональных данных, указываемых им в полях форм на Сайте, текст Соглашения и условия обработки персональных данных ему понятны;</li>
                <li>выражает Согласие на обработку персональных данных без оговорок и ограничений (далее – Согласие). 
                Моментом принятия Согласия является маркировка соответствующего поля в Форме и нажатие на кнопку отправки Формы на любой странице Сайта;</li>
                <li>подтверждает, что, давая Согласие, он действует свободно, своей волей и в своих интересах;</li>
                <li>подтверждает, что что предоставляемая им информация не нарушает права третьих лиц. </li>
            </ul>
            <p>
                Данное Согласие дается на обработку персональных данных как без использования средств автоматизации, так и с их использованием.
            </p>
            <p>
                Согласие дается на обработку следующих персональных данных Пользователя, указанных Пользователем в формах и/или в файлах, прикрепленных к формам:
            </p>
            <ul>
                <li>Фамилия, имя, отчество;</li>
                <li>Должность, организация;</li>
                <li>Телефон;</li>
                <li>Страна;</li>
                <li>Город;</li>
                <li>Сферы интересов, услуг и направлений;</li>
                <li>Адрес электронной почты;</li>
                <li>Иные персональные данные, указанные Пользователем в формах или файлах, прикрепленных к формам.</li>
            </ul>
            <p>Пользователь, принимая условия настоящего Соглашения, выражает свою заинтересованность и дает полное согласие, 
            что обработка его персональных данных включает в себя следующие действия: сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), 
            извлечение, использование, передачу (предоставление доступа), обезличивание, блокирование, удаление, уничтожение персональных данных.</p>
            <p>Согласие Пользователя на обработку персональных данных является конкретным, информированным и сознательным.</p>
            <p>Настоящее Согласие Пользователя признается исполненным в простой письменной форме.</p>
            <p>Настоящее согласие предоставляется без ограничения срока, но до момента получения моего заявления об отзыве настоящего согласия с подтверждением его получения. 
            Заявление об отзыве настоящего согласия может быть отправлено по адресу электронной почты <a href="mailto:kharkov.careers@muranosoft.com">kharkov.careers@muranosoft.com</a></p>
            <p>В случае получения заявления об отзыве настоящего согласия на обработку персональных данных, обработка персональных данных должна быть прекращена в течение 7 (семи) рабочих дней с даты получения данного заявления.</p>
            <p>
                В случае отзыва Пользователем согласия на обработку персональных данных Оператор вправе продолжить обработку персональных данных без согласия Пользователя при наличии
                оснований, указанных в статье 25 Закона Украины "О защите персональных данных" ВВР, 2010 №34 с изменениями, внесенными законами
                № 4452-VI от 23.02.2012 , ВВР, 2012, № 50, ст. 564;
                № 5491-VI от 20.11.2012, ВВР, 2013, №51, ст.715;
                № 245-VII от 16.05.2013, ВВР, 2014, № 12, ст.178;
                № 383-VII от 03.07.2013, ВВР, 2014, № 14, ст.252;
                № 1170-VII от 27.03.2014, ВВР, 2014, № 22, ст.816;
                № 1262-VII от 13.05.2014, ВВР, 2014, № 27, ст.914;
                № 316-VIII от 09.04.2015, ВВР, 2015, № 26, ст.218;
                № 675-VIII от 03.09.2015, ВВР, 2015, № 45, ст.410;
                № 1774-VIII от 06.12.2016, ВВР, 2017, № 2, ст.25;
                № 2168-VIII от 19.10.2017, ВВР, 2018, № 5, ст.31;
                № 324-IX от 03.12.2019, ВВР, 2020, № 11, ст.63;
                № 524-IX от 04.03.2020, ВВР, 2020, № 38, ст.279,
            </p>
            <p>Оператор вправе прекратить обработку персональных данных в любой момент, по собственному усмотрению.</p>
            <p>Передача персональных данных Пользователя третьим лицам не осуществляется, за исключением лиц, осуществляющих обработку персональных данных по поручению Оператора и 
            от его имени, а также случаев, установленных законодательством.</p>
            <p>Оператор имеет право вносить изменения в настоящее Соглашение в любое время. При внесении изменений в актуальной редакции указывается дата последнего обновления. 
            Новая редакция Соглашения вступает в силу с момента ее размещения, если иное не предусмотрено новой редакцией Соглашения.</p>
            <p>Вопросы относительно обработки персональных могут быть отправлены по адресу электронной почты <a href="mailto:kharkov.careers@muranosoft.com">kharkov.careers@muranosoft.com</a></p>
            <p>Действующая редакция всегда находится на странице по адресу: <a href="https://muranosoft.ru/pda_ua">https://muranosoft.ru/pda_ua</a></p>
        </div>
    </section>
</section>