﻿@{
    Layout = "_LayoutFixed";
    ViewBag.Title = "Murano Software";
    ViewBag.Description = "Соглашение об обработке персональных данных, Узбекистан";
}
<section class="section section__fixed">
    <section class="section section--column container">
        <div class="section--terms">
            <h2 class="title">Соглашение об обработке персональных данных</h2>

            <p>Данное соглашение об обработке персональных данных разработано в соответствии с законодательством Республики Узбекистан.</p>

            <p>
                Настоящим, я (далее – Субъект персональных данных), отправляя персональные данные посредством сайта http://www.muranosoft.ru/ (далее – Сайт) 
                в соответствии с требованиями Статьи 21 Главы 4 Закона Республики Узбекистан от 02.07.2019г. № ЗРУ-547 «О персональных данных», 
                выражаю свое согласие на обработку своих персональных данных оператору обработки персональных данных - ООО «Мурано Ру» ОГРН 1137847114129, 
                Адрес местонахождения: Российская Федерация, 194044, г.Санкт-Петербург, Большой Сампсониевский пр-т, 32 (далее – Оператор).
                
                Под обработкой персональных данных подразумевается осуществление любых действий (операций) или совокупности действий (операций) с персональными данными 
                в соответствии с законодательством Республики Узбекистан, для целей рассмотрения Оператором возможности дальнейшего сотрудничества, 
                в том числе трудоустройства, с Субъектом персональных данных.
            </p>

            <p>Субъект персональных данных:</p>
            <ul>
                <li>подтверждает, что все указанные им данные принадлежат лично ему</li>
                <li>подтверждает и признает, что им внимательно в полном объеме прочитано Соглашение и условия обработки его персональных данных, указываемых им в полях форм на Сайте, текст Соглашения и условия обработки персональных данных ему понятны;</li>
                <li>выражает Согласие на обработку персональных данных без оговорок и ограничений (далее – Согласие). 
                Моментом принятия Согласия является маркировка соответствующего поля в Форме и нажатие на кнопку отправки Формы на любой странице Сайта;</li>
                <li>подтверждает, что, давая Согласие, он действует свободно, своей волей и в своих интересах;</li>
                <li>подтверждает, что что предоставляемая им информация не нарушает права третьих лиц; </li>
                <li>подтверждает, что что предоставляемая им информация не содержит специальных персональных данных.</li>
            </ul>
            <p>
                Данное Согласие дается на обработку персональных данных как без использования средств автоматизации, так и с их использованием, кроме исключительно автоматизированной обработки персональных данных.
            </p>
            <p>
                Согласие дается на обработку следующих персональных данных Пользователя, указанных Пользователем в формах и/или в файлах, прикрепленных к формам:
            </p>
            <ul>
                <li>Фамилия, имя, отчество;</li>
                <li>Должность, организация;</li>
                <li>Телефон;</li>
                <li>Страна;</li>
                <li>Город;</li>
                <li>Сферы интересов, услуг и направлений;</li>
                <li>Адрес электронной почты;</li>
                <li>Иные персональные данные, указанные Пользователем в формах или файлах, прикрепленных к формам.</li>
            </ul>
            <p>Пользователь, принимая условия настоящего Соглашения, выражает свою заинтересованность и дает полное согласие, 
            что обработка его персональных данных включает в себя следующие действия: сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), 
            извлечение, использование, передачу (предоставление доступа), обезличивание, блокирование, удаление, уничтожение персональных данных.</p>
            <p>Согласие Пользователя на обработку персональных данных является конкретным, информированным и сознательным.</p>
            <p>Настоящее Согласие Пользователя признается исполненным в простой письменной форме.</p>
            <p>Настоящее согласие предоставляется без ограничения срока, но до момента получения моего заявления об отзыве настоящего согласия с подтверждением его получения. 
            Заявление об отзыве настоящего согласия может быть отправлено по адресу электронной почты <a href="mailto:careers@muranosoft.com">careers@muranosoft.com</a></p>
            <p>В случае получения заявления об отзыве настоящего согласия на обработку персональных данных, обработка персональных данных должна быть прекращена в течение 7 (семи) рабочих дней с даты получения данного заявления.</p>
            <p>В случае отзыва Пользователем согласия на обработку персональных данных Оператор вправе продолжить обработку персональных данных без согласия Пользователя при наличии 
            оснований, указанных в Статье 18 Главы 4 Закона Республики Узбекистан №ЗРУ-547 от 02.07.2019 «О персональных данных».</p>
            <p>Оператор вправе прекратить обработку персональных данных в любой момент, по собственному усмотрению.</p>
            <p>Передача персональных данных Пользователя третьим лицам не осуществляется, за исключением лиц, осуществляющих обработку персональных данных по поручению Оператора и 
            от его имени, а также случаев, установленных законодательством.</p>
            <p>Оператор имеет право вносить изменения в настоящее Соглашение в любое время. При внесении изменений в актуальной редакции указывается дата последнего обновления. 
            Новая редакция Соглашения вступает в силу с момента ее размещения, если иное не предусмотрено новой редакцией Соглашения.</p>
            <p>Вопросы относительно обработки персональных могут быть отправлены по адресу электронной почты <a href="mailto:careers@muranosoft.com">careers@muranosoft.com</a></p>
            <p>Действующая редакция всегда находится на странице по адресу: <a href="https://muranosoft.ru/pda_uz">https://muranosoft.ru/pda_uz</a></p>
        </div>
    </section>
</section>