﻿@using System.Linq
@using MuranoWeb.Models.Home
@using System.Collections.Generic
@using System.Linq.Expressions;
@using MuranoWeb.Data.Entity;
@using MuranoWeb.Data.Extensions
@model IEnumerable<ShortVacancyModel>
@{
    ViewBag.HeadHunterLink = "https://hh.ru/employer/6301";
    ViewBag.DjinniLink = "https://djinni.co/jobs/?keywords=Murano%20Software&from=r_jobs";
    ViewBag.Title = "Вакансии";
    ViewBag.Canonical = "https://muranosoft.ru/vacancies";
    ViewBag.Description = $"Вакансии в компании Murano Software. Найди работу своей мечты.";
    ViewBag.Ogescription = ViewBag.Description;
}

<!doctype html>
<html lang="ru" xmlns:og="http://opg.me/ns#">
<head>
    @{ await Html.RenderPartialAsync("CommonHead");}

</head>

<body>

    @{ await Html.RenderPartialAsync("CommonHeaderFixed");}

    <section id="vacancy" class="section section--column container">
        <div class="section__vacancy">

            <h2 class="title">Вакансии</h2>

            @if (!Model.Any())
            {
                <div class="text text--tagline">На данный момент нет открытых вакансий.</div>
            }

            <div class="section__vacancy-list" data-js="vacancy">

                @foreach (var vacancyItem in Model)
                {
                    <div class="section__vacancy-item">
                        
                        <h3 class="text text--tagline">@vacancyItem.Title</h3>
                        <img class="section__vacancy-icon" src="@vacancyItem.IconUrl" alt="" />
                        <div class="section__vacancy-short">
                            <div>
                                @Html.Raw(vacancyItem.Summary)
                            </div>
                            <div>
                                <a class="section__vacancy-link2" href="/vacancy/@vacancyItem.ExternalId">Подробнее</a>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>

        @{ await Html.RenderPartialAsync("RecruitmentLinks");}
    </section>

    @{ await Html.RenderPartialAsync("CommonFooter");}

    <script async defer src="/content/app"></script>
</body>
</html>
