﻿@using System.Linq
@using MuranoWeb.Models.Home
@using System.Collections.Generic
@using System.Linq.Expressions;
@using MuranoWeb.Data.Entity;
@using MuranoWeb.Data.Extensions
@model VacancyWithOfficeModel

@{
    ViewBag.Description = $"Вакансия {Model.Title} ({Model.Office.City}) | Работа в {Model.Office.City}е | Murano Software";
    ViewBag.OgTitle = $"Murano Software. Вакансия {Model.Title} ({Model.Office.City})";
    ViewBag.OgImageUrl = Model.Office.OfficeImage;
}

<!doctype html>
<html lang="ru"  xmlns:og="http://opg.me/ns#">
<head>
    @{ ViewBag.Title = Model.Title; }
    @{ await Html.RenderPartialAsync("CommonHead");}
    <meta property=""/>
    @if (ViewBag.JobPosting != null)
    {
    <script type="application/ld+json">
        @Html.Raw(@ViewBag.JobPosting)
    </script>
    }
</head>

<body>

    @{ await Html.RenderPartialAsync("CommonHeaderFixed");}


    <section id="vacancy" class="section section--column container">
        <div class="section__vacancy">
            <h2 class="title">Вакансия @Model.Title (@Model.Office.City)</h2>
            <div class="section__vacancy-list" data-js="vacancy">
                <div class="section__vacancy-item section__vacancy-item--expand">
                    <img class="section__vacancy-icon" src="@Model.IconUrl" alt="" />

                    <div class="section__vacancy-more noclose">
                        @{await Html.RenderPartialAsync("VacancySharingPartialView", Model.SharingInfo);}
                        <div class="section__vacancy-column">
                            @Html.Raw(Model.Summary)
                            @Html.Raw(Model.Description)
                        </div>

                        <div class="section__vacancy-column">
                            @Html.Raw(Model.Requirements)
                        </div>
                        <button class="button button--more" data-url="@Url.Action("PostApplication", "Home", new
                                                             {
                                                                 location = Model.Location.ToString().ToLower(),
                                                                 vacancyId = Model.VacancyId
                                                             })">
                            Откликнуться
                        </button>

                    </div>
                </div>
            </div>
            <a href="/vacancies"
               class="button" style="margin-bottom:20px;">Все вакансии</a>

        </div>
        <a data-js="jobApplication" style="display:none"
           data-url="@Url.Action("PostApplication", "Home", new {
               location = Model.Location.ToString().ToLower()
           })"
           class="button"
           href="#">Отправить резюме</a>

        @{ await Html.RenderPartialAsync("RecruitmentLinks");}
    </section>

    @{ await Html.RenderPartialAsync("ApplyPopoverPartialView", Model.Location); }

    @{ await Html.RenderPartialAsync("CommonFooter");}

    <script async defer src="/assets/app.js"></script>
    <script async defer src="/assets/social.js"></script>

</body>
</html>
