﻿@using MuranoWeb.Models.Home

<p class="hidden" id=@string.Format("i{0}", Model.Id)>@Model.Title</p>
<p class="hidden" id=@string.Format("u{0}", Model.Id)>@Model.Url</p>
<div class="dropdown">
    <button class="share-button sharebtn" type="button" title="Поделиться вакансией" id=@string.Format("v{0}", Model.Id)>
    </button>
    <div id=@string.Format("d{0}", Model.Id) class="dropdown-content">
        <!--
        <a href="https://vk.com/share.php?url=@(Model.UrlEncoded)" onmouseup="this._btn=event.button;this.blur();" onclick="return VK.Share.click(0, this);" class="link--share first vk" target="_blank">VK</a>
        -->
        @if (!(ViewBag.IsUkraine == true)) {
            <a href="https://vk.com/share.php?url=@(Model.Url)" onmouseup="this._btn=event.button;this.blur();" class="link--share first vk" target="_blank">VK</a>
        }
        <a href="https://www.facebook.com/sharer.php?u=@(Model.UrlEncoded)" target="_blank" class="link--share facebook">FB</a>
        <a href="https://twitter.com/intent/tweet?original_referer=@(Model.UrlEncoded)&amp;ref_src=twsrc%5Etfw&amp;text=@(Model.TitleEncoded)&amp;tw_p=tweetbutton&amp;url=@(Model.UrlEncoded)" class="link--share twitter" target="_blank">Twitter</a>
        <a href="https://t.me/share/url?url=@(Model.UrlEncoded)&text=@(Model.TitleEncoded)" class="link--share telegram" target="_blank">Telegram</a>
        <a class="link--share last copy--link" title="Копировать ссылку">Telegram</a>
    </div>
</div>

